:root {
    --primary-color: #07dd63;
    --secondary-color: #000;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* background-color: var(--secondary-color); */
    font-family: "Cairo", sans-serif;
    font-family: "Lalezar", system-ui;
    font-family: "Rubik", sans-serif;
}

.cover{
    background-image: url(../images/cover.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;    


}

.cover .Image h1,
.cover .Image h2,
.cover .Image p,
.cover .Image a 
{
    font-size: 20px;
    color: white;
    background-color: transparent;
    font-weight: 600;
    margin-bottom: 10px;
    position: absolute;
    right: 20px;
}

.cover .Image h1 {
    font-size: 60px;
    font-weight: 900;
    top: 45%;
}

.cover .Image p {
    top: 60%;
    font-weight: 200;
    direction: rtl;
    width: 50%;
    line-height: 35px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.cover .Image a {
    top: 75%;
    right: 30px;
    text-decoration: none;
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
}

.cover .Image a img {
   background-color: white;
    width: 14px;
    margin-left: 5px;
}
.cover .Image {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 9px;
    bottom: 0;
    left: 9px;
    padding: 18px;
    background-size: cover;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, -1, .793519) 61.79%, var(--secondary-color) 100%),
    linear-gradient(180deg, transparent, var(--secondary-color))
}

.cover .Image h2 {
    font-size: 35px;
    font-weight: 600;
    top: 80%;
}


.MainBoxOne{
    margin: 0px 50px;
        background-color:transparent;
        scroll-behavior: none;
        height: 100%;
}


.MoviesOne .card {
    height: 300px;
    /* box-shadow: 0 0 10px 0 #91919162; */
            background-color: transparent;
}



