:root{
    --primary-color: #07dd63;
    --secondary-color: #000;   

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* background-color: var(--secondary-color); */
    font-family: "Cairo", sans-serif;
    font-family: "Lalezar", system-ui;
    font-family: "Rubik", sans-serif;
}
.parant{
    direction: rtl;
    margin: 20px 0 40px 0;
    height: auto;
    /* background-color:var(--secondary-color); */
    display: grid;
    height: 336px;
    /* padding: 20px 0px 0px 0px; */
}
body{
    background-color: var(--secondary-color);
}


 @keyframes slide-left {
     0% {
         transform: translateX(0);
     }

     100% {
         transform: translateX(-100%);
     }
 }


.MoviesOne::-webkit-scrollbar {
    width: 1px;
    height: 7px;
}
.MoviesOne::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 60px;
}
.MoviesOne::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 60px;
}



.parant .card .card-content p{
    font-weight: 200;
    
}




.parant .card{
    color: white ;
    padding: 20px;
    background-color: #b80000;
    margin: 5px;
    padding: 0px;
    border-radius: 10px;
    /* box-shadow: 0 0 30px 0 #919191; */
    color: rgb(255, 255, 255);
    height: 250px;
    position: relative;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}
.parant .card .content{
   /* display: none; */
    position: absolute;
    

   
}

.MoviesOne{
    grid-template-columns: repeat(15, minmax(200px, 1fr));
}

.MoviesTwo{
    height: auto;
    width: 100%;
    padding: 25px;
    grid-template-columns: repeat(7, minmax(200px, 1fr));
    /* padding: 50px; */
}

.MoviesTwo .card{
    height: 300px;
    /* box-shadow: 0 0 30px 0 #91919162; */
}

.MainBoxOne{
    direction: rtl;
    margin: 20px;
    color: white;
}

.MainBoxTwo {
    direction: rtl;
    padding: 20px;
    color: white;
    margin-top: -20px;
}

.MainBoxTwo h1 {
    padding-right: 28px;
}

.parant .card h3{
    display: none;
    position: absolute;
    top: 45%;
    right: 15%;
    transform: translate(-50%, -50%);
    z-index: 34;
    color: rgb(255, 255, 255);
    transition: 0.5s ease-in-out;
    background-color: transparent;
}

.parant .card p {
    background-color: transparent;
    right: 15%;
    top: 85%;
    font-size: 20px;
    font-weight: 200;
}

.parant .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.7s ease-in-out;
}

.parant .card .IconImage{
   z-index: 22;
   height: 20px;
   width: 70px;
    background-color: transparent;

}

.parant .card:hover .FilmImage{
    transform: scale(1.05);
    /* filter: blur(2px); */
    filter: grayscale(90%) brightness(70%);
    border: 2px solid #ffffff;  
    cursor: pointer;
}

.parant .card:hover h3{
    display: block;
    position: absolute;
    top: 73%;
    right: 15%;
    font-size: 25px;
    transform: translate(0%, -50%);
    z-index: 34;
    color: rgb(255, 255, 255);
    width: 100%;
    text-shadow: 10px 10px 10px black;
    
}

.parant .card:hover p {
    display: block;
    position: absolute;
    top: 80%;
    transform: translate(0%, -10%);
    z-index: 34;
    color: rgb(255, 255, 255);
    transition: 0.5s ease-in-out 0.2s;
    text-shadow: 0 0 10px black;

}


.parant {
    overflow: auto;
}


/* sa */


