:root{
    --primary-color: #07dd63;
    --secondary-color: #000;   

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: var(--secondary-color);
    font-family: "Cairo", sans-serif;
    font-family: "Lalezar", system-ui;
    font-family: "Rubik", sans-serif;
}
.parant{
    direction: rtl;
    margin: 20px auto;
    height: auto;
    background-color:var(--secondary-color);
    display: grid;
    height: 310px;
    padding: 20px 0px 0px 0px;
}



.MoviesOne::-webkit-scrollbar {
    width: 1px;
    height: 7px;
}
.MoviesOne::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 60px;
}
.MoviesOne::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 60px;
}



.parant .card .card-content p{
    font-weight: 600;
    
}




.parant .card{
    color: white ;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    background-color: #b80000;
    margin: 5px;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 #919191;
    color: rgb(255, 255, 255);
    height: 250px;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}
.parant .card .content{
   /* display: none; */
   text-align: center;
    position: absolute;
    

   
}

.MoviesOne{
    grid-template-columns: repeat(15, minmax(200px, 1fr));
}

.MoviesTwo{
    height: auto;
    width: 100%;
    grid-template-columns: repeat(7, minmax(200px, 1fr));
    /* padding: 50px; */
}

.MoviesTwo .card{
    height: 300px;
    box-shadow: 0 0 30px 0 #91919162;
}

.MainBoxOne{
    direction: rtl;
    padding: 20px;
    color: white;
}

.MainBoxTwo {
    direction: rtl;
    padding: 20px;
    color: white;
    margin-top: -20px;
}


.parant .card h3{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 34;
    color: rgb(255, 255, 255);
    text-align: center;
    transition: 0.5s;
    background-color: transparent;
}

.parant .card p {
    background-color: transparent;
}

.parant .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.parant .card .IconImage{
   z-index: 22;
   height: 20px;
   width: 70px;
    background-color: transparent;

}

.parant .card:hover .FilmImage{
    transform: scale(1.2);
    filter: blur(4px);
    border: 2px solid #ffffff;  
}

.parant .card:hover h3{
    display: block;
    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(0%, -50%);
    z-index: 34;
    color: rgb(255, 255, 255);
    text-align: center;
    transition: 0.5s;
    
}

.parant .card:hover p {
    display: block;
    position: absolute;
    top: 80%;
    left: 35%;
    transform: translate(0%, -10%);
    z-index: 34;
    color: rgb(255, 255, 255);
    text-align: center;
    transition: 0.5s;

}


.parant {
    overflow: auto;
}


/* sa */
